header{
    perspective: 800px;
}
/* h1{
    animation-name: cambioPosicion;
    animation-duration:3s ;
    /* unidades de tiempo , cuanto dura la animacion*/
    /* animation-iteration-count: 4; */
    /* la cantidad de veces a repetira la animacion*/
    /* animation-direction:alternate-reverse ; */
    /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards; */
    /* animation:cambioPosicion 3s cubic-bezier(0.075, 0.82, 0.165, 1) 4 alternate-reverse forwards; */

/* }  */

button{
    padding: 20px;
    background-color: lightblue;
    box-shadow: 2px 2px #6f6e6e;
   animation: cambioColor 5s 1s 2;
}

/*
animation -> agregar una animacion a un selector

animation 
animation: name duration timing-function delay iteration-count direction fill-mode;
@keyframes nombre{
from{}
to{}
}
@keyframes nombre{
0%{}
...
100%{}
}
camelCase
snakeCase
*/
@keyframes cambioPosicion {
    from{
        transform: translateX(100px);
    }
    to{
        transform: translate3d(100px,200px,150px);
    }
}
@keyframes cambioColor{
    0%{
       background-color: red; 
    }
    11%{
        background-color: #f90; 
    }
    51%{
        background-color: #332299;
    }
    83%{
        background-color: #3322AF;
    }
    100%{
        background-color: #1312AF;
        color: white;
    }
}

/*-------------------------------------------*/

.contenedor{
    background-color: rgb(195, 231, 151);
    margin-top: 20px;
    padding: 120px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: bottom;
}

.cubo{
    width: 200px;
    height: 200px;

}
.padre{    
    background-color: brown;
    transform: rotateY(90deg);
    transform-style: preserve-3d;
}
.hijo{
    background-color:violet ;
    transform: rotateY(90deg);
}
.moverCubo{
    animation:mover 3s infinite;

}
@keyframes mover {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}