button{
    padding: 20px;
    background-color: lightblue;
    box-shadow: 2px 2px #6f6e6e;
}

.contenedor{
    background-color: rgb(195, 231, 151);
    margin-top: 20px;
    padding: 120px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cubo{
    width: 200px;
    height: 200px;
}