:root{
    --colorblue1:#648BA3;
    --colorDarkblue:#191F24;
    --colorWhite:#F5F5F5;
    --colorBordo:#241919;
    --colorGreen:#242419;
}

body{
    background-color: var(--colorWhite);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-left: 50px;
    height: 150px;
}
.logo{
    width: 80px;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
    margin: 0;
}
li{
    list-style-type: none;
}
.boton{
    width: 100%;
    padding: 5px 0px;
    background-color:  #4b5563;
;
    border-radius: 5px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color:whitesmoke;
    display: none;
}

.tema-boton{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: var(--colorBordo);
    color:whitesmoke;
}
nav{
    width: 97px;
}
.show{
    display: block;
}

/*seccion cuerpo y tarjetas*/
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:100px;
    padding: 100px;

}


button:active{
    background-color: black;
}

.card{
    width: 250px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color:white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08)
}

img{
    width: 80%;
}
.compra{
    width: 50px;
    position: relative;
    left: 95%;
   
}
.circulo{
    background-color:#648BA399;
    width: 20px;
    position: absolute;
    height: fit-content;
    bottom: 0px;
    right: 10px;
    border-radius: 20%;
    display: flex;
    justify-content: center;

}
#cantidad{
    margin: 0;
}

.boton-compra{
    background-color: #4b5563;
    color: whitesmoke;
    width: 35%;
    min-width: fit-content;
    height: 30px;
    border-radius: 10px;
}

.link-hoja2{
    color: black;
    text-decoration: none;
    padding: 20px;
}
/*--------------tema noche --------------- */

.fondo{
    background-color: #4b5563;
}

.botonNight{
    background-color: #191d24;
    color: #f5f5f5;
}