*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1200px;
    background-color: lightblue;
    margin: auto;
}
h1{
    width: 100%;
    background-color: pink;
    padding: 20px;
    position: sticky;
    top: 0;
}

#cubo1{
    background-color: yellow;
    align-self: start;
}
#cubo2{
    background-color: green;
    position: relative;
    left: 350px;
    top: 50px;
}
.flex{
    height: 200px;
    width: 100%;
    background-color: brown;
    display: flex;
    /* flex-direction: column; por defecto su valor es row*/
    justify-content:space-between ;
    /* alineacion horizontal si es row| vertial si es column
    valores: strart|end|center|space...-between/around/evenly
    */
   align-items:center ; /*alineacion vertical si es row| horizonal si es column
   valores: strart|end|center|flex-start|flex-end|strech
   */
  flex-wrap: wrap;
 /*  flex-flow:column wrap;simplifica las propiedades flex-direction y flex-wrap*/
}
.cubos{
    width: 200px;
    background-color: darkmagenta;
    height: 100px;
    border: 2px solid black;
   
}
.padre{
    background-color: darkcyan;
    height: 80vh;
    display: grid;
    gap: 40px;
    grid-template-areas: 't1 t2 t2 t3'
                         't1 t4 . .'
        ;
    /*grid-template-columns:1fr 2fr 1fr;
    repeat(cantidad,tamaño) 
    */
    /* grid-template-columns: repeat(auto-fit,300px); */
    /* grid-template-columns:repeat(2,minmax(200px,500px)) */
    /* grid-template-columns:repeat(auto-fit,minmax(300px,400px)) */
}
button{
    padding: 5px;
    width: 50px;

}
img{
    width: 200px;
}
.tarjeta{
    width: 200px;
    border: 2px solid black;
    height: fit-content;
}
#t1{
    height: 100%;
    grid-area: t1;
    background-color: violet;
} 
#t2{
     grid-area:t2 ;
     width: 100%;
     background-color: red;
}
#t3{
    grid-area: t3;
}
#t4{
    grid-area:t4 ;
}
/*
flexbox -> tiras (un elemento al lado del otro| un elemento debajo del otro)

grid -> grilla ( manejamos ambos ejes de manera 'paralela')

unidad fr(fraccion) 

auto-fit -> hace variable la cantidad (de columnas o de filas) dependeiendo donde lo coloquemos (column o row) 

minmax() -> indicar un tamaño minimo y maximo(columna/fila)

grid-template-areas

grid-area

gap -> distancia entre filas,columnas,los elementos (funciona en flex y grid)
row-gap|column-gap -> solo funciona con grid
*/